<div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="followingModalLabel">Following</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="following-container"></div>
          </div>
      </div>
  </div>
</div>
<script src="/js/following.js"></script>