<div class="modal fade" id="notificationsModal" tabindex="-1" aria-labelledby="notificationsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="notificationsModalLabel">Notifications</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="card">
                  <div id="notifications-container" class="card-body"></div>
              </div>
          </div>
      </div>
  </div>
</div>

<script src="/js/notifications.js"></script>