<%- include('partials/_header') %>
<div class="row">
    <div class="card border-0">
        <div class="card-body">
            <h1>Welcome to Blog</h1>
            <p>This is a simple blog app built with Node.js and Express.</p>
        </div>
    </div>
</div>
<%- include('partials/_footer') %>