<%- include('partials/_header') %>
<div class="row">
  <!-- Left Sidebar -->
  <div class="col-lg-3 col-md-1 col-2 sidebar d-flex flex-column align-items-center align-items-lg-start py-3">
    <a class="text-decoration-none d-none d-lg-block" href="/">
      <h3>Blog</h3>
    </a>
    <div class="links-container nav flex-column">
        <a class="text-decoration-none d-lg-none d-block" href="/">
            <h3>Blog</h3>
        </a>
        <a href="/posts" class="nav-link text-center text-lg-start">
          <i class="bi bi-file-earmark-text"></i>
          <span class="d-none d-lg-inline"> Posts</span>
        </a>
        <a href="/followers" class="nav-link text-center text-lg-start">
          <i class="bi bi-people"></i>
          <span class="d-none d-lg-inline"> Followers</span>
        </a>
        <a href="/notification" class="nav-link text-center text-lg-start">
          <i class="bi bi-bell"></i>
          <span class="d-none d-lg-inline"> Notifications</span>
        </a>
    </div>
  </div>

  <!-- Main Content -->
  <div class="col-lg-6 col-md-11 col-10 main-feed">
    <div class="card border-0 m-0 p-0">
      <div class="card-body m-0 p-0">
        <h1>Trending Posts</h1>
        <div class="time-filters mb-3 bg-primary-subtle">
          <button class="btn rounded-pill btn-sm btn-outline-primary time-filter active" data-period="1 HOUR">Hot Now</button>
          <button class="btn rounded-pill btn-sm btn-outline-primary time-filter" data-period="24 HOUR">Today</button>
          <button class="btn rounded-pill btn-sm btn-outline-primary time-filter" data-period="7 DAY">This Week</button>
        </div>
        <div class="posts-container">
          <div class="text-center my-5">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Suggested Column -->
  <div class="col-lg-3 d-none d-lg-block">
    <h3>Suggested</h3>
  </div>
</div>

<script src="/js/index.js"></script>
<script src="/js/userSession.js"></script>
<%- include('partials/_footer') %>
