body{
    max-height:100vh;
    height: 100%;
}

.main-feed{
    height: 100vh;
    overflow-y: auto;
}
.notification {
    position: fixed;
    top: 10px;
    right: -250px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: all 0.5s ease;
}

.notification.success {
    background-color: #d4edda;
    color: #155724;
    right: 10px;
}



.notification.error {
    background-color: #f8d7da;
    color: #721c24;
    right: 10px;
}


.content-editor {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden; /* prevents horizontal overflow */
  max-height: 300px;
  min-width: 0; /* ensure it doesn't overflow parent */
  width: 100%; /* make sure it fits inside flex container */
  display: block;
}

.flex-grow-1 {
  min-width: 0; /* fix for flex children overflowing horizontally */
}


.content-editor[placeholder]:empty:before {
    content: attr(placeholder);
    color: #6c757d;
    opacity: 0.6;
}

.post-content {
  word-wrap: break-word;
  overflow-wrap: break-word;
}


/* .current-user-profile[style*="color: #f4212e"]::placeholder {
    color: #f4212e;
    opacity: 0.8;
} */

.auth-card {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.auth-header {
    text-align: center;
    padding: 1.5rem;
    border-bottom: 1px solid #eee;
}
.auth-body {
    padding: 2rem;
}
.btn-signin {
    width: 100%;
    padding: 0.5rem;
}

#update-avatar-form{
    bottom: 10px;
    right: 5px;
    background-color: #333;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.truncate-text {
  max-width: 165px;     /* You can adjust this width as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 576px) {
  .truncate-text {
    max-width: 130px;
  }
}


@media (max-width: 762px) {
    #image-preview img{
        width: 60px !important;
        height: 60px !important;
    }
    
#update-avatar-form{
    bottom: 5px;
    right: -5px;
    width: 20px;
    height: 20px;
}
}